<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="styles.css" />
    </head>
    <title>
        <h3> Search Excercises <span class="htmx-indicator"> <img
        src="/img/bars.svg" alt="" /> Searching... </span> </h3>
    </title>
    <search>
        <input
            class="form-control"
            type="search"
            name="search"
            placeholder="Begin Typing To Search Excercises..."
            hx-post="/search"
            hx-trigger="input changed delay:500ms, keyup[key=='Enter'], load"
            hx-target="#search-results"
            hx-indicator=".htmx-indicator"
        />
    </search>
    <table class="table">
        <thead>
            <tr>
                <th>Excercise</th>
                <th>Implement</th>
                <th>Bodypart</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="search-results"></tbody>
        <tr>
            <td>Lateral Raise</td>
            <td>Cables</td>
            <td>Side-Delt</td>
            <td>
                <button
                    hx-post="/exercise-template.html"
                    hx-target="#current-workout-table"
                    hx-trigger="click"
                    hx-swap="outerHTML"
                >
                    Add
                </button>
            </td>
        </tr>
        <tr>
            <td>Bench Press</td>
            <td>Barbell</td>
            <td>Chest/Front-delt</td>
            <td>
                <button
                    hx-get="/exercise-template.html"
                    hx-target="#current-workout-table"
                    hx-trigger="click"
                    hx-swap="innerHTML"
                >
                    Add
                </button>
            </td>
        </tr>
    </table>
</html>
